{% extends "base.html" %}
{% block title %}Ocurrió un error{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
<div class="card text-center">
  <div class="card-header">
<h1>¡¡Oh no, algo salió mal!!</h1>
  </div>
  <div class="card-body">
      <div align="center"><img src="/static/img/ops.png" width="100" height="100" ></div>
    <h5 class="card-title">Intenta recargar la página, si el problema persiste, favor de borrar las cookies de tu navegador</h5>
    <p class="card-text">Evita acceder a páginas de este sitio mediante la barra de navegación</p>
    <a href="/" class="btn btn-danger">Regresar a la página principal</a>
  </div>
  <div class="card-footer text-muted">
      ERROR
  </div>
</div>
</div>
{% endblock %}