{% extends "base.html" %}
{% block title %}Asistencias{% endblock %}
{% block head %}
{{super()}}
<style>
  h2 {
    text-align: center;
  }

  .Asistencia {
    background-color: rgba(59, 255, 34, 0.8) !important;
  }

  .Retardo {
    background-color: rgba(255, 217, 41, 0.8) !important;
  }

  .Falta {
    background-color: rgba(255, 75, 41, 0.8) !important;
  }

  .campo-busqueda {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  input[type=text] {
    border: 2px solid rgb(0, 255, 136);
  }
</style>
{% endblock %}
{% block body %}
{% if fechas|length == 0 %}
<h2>No se han generado códigos QR en este grupo, por lo que no hay registros de asistencias</h2>
{% elif not asistencias %}
<h2>No hay estudiantes que integren este grupo actualmente</h2>
{% else %}

<div class="row g-2">
  <div class="col-md campo-busqueda">
    <div class="form-floating">
      <input type="text" class="form-control" id="filtrarPorNombre" onkeyup="filtrarTablaPorNombre()">
      <label for="filtrarPorNombre" class="form-label">Nombre</label>
    </div>
  </div>
  <div class="col-md campo-busqueda">
    <div class="form-floating">
      <input type="text" class="form-control" id="filtrarPorFecha" onkeyup="filtrarTablaPorFecha()">
      <label for="filtrarPorFecha" class="form-label">Fecha</label>
    </div>
  </div>
</div>

<table id="tabla_asistencias" class="table  table-secondary table-responsive table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Estudiante</th>
        {% for fecha in fechas %}
            <th class="{{fecha}}">{{fecha}}</th>
        {% endfor %}
      </tr>
    </thead>
    {% for expediente, asistencia in asistencias.items() %}
          <tr>
              <td>{{datos_estudiantes[expediente]['apellido_paterno']}} {{datos_estudiantes[expediente]['apellido_materno']}} {{datos_estudiantes[expediente]['nombre']}}</td>
              {% for fecha in fechas %}
                {% if usuario.tipo_usuario == "Docente" %}
                  <td class="{{fecha}} {{asistencia[fecha]}}">
                    <select onchange="actualizarValor(this)" name="{{expediente}} {{fecha}}" id="{{expediente}} {{fecha}}" class="form-select">
                      {% if asistencia[fecha] == "Asistencia" %}
                      <option value="asistencia" selected>Asistencia</option>
                      <option value="retardo">Retardo</option>
                      <option value="falta">Falta</option>
                      {% elif asistencia[fecha] == "Retardo" %}
                      <option value="asistencia">Asistencia</option>
                      <option value="retardo" selected>Retardo</option>
                      <option value="falta">Falta</option>
                      {% else %}
                      <option value="asistencia">Asistencia</option>
                      <option value="retardo">Retardo</option>
                      <option value="falta" selected>Falta</option>
                      {% endif %}
                    </select>
                  </td>
                {% else %}
                  <td class="{{fecha}} {{asistencia[fecha]}}">{{asistencia[fecha]}}</td>
                {% endif %}
              {% endfor %}
          </tr>
      {% endfor %}
</table>


<script>
  function actualizarValor(select) {
      /*
      Esta función está enlazada a todos los select que se generan dinámicamente y se ejecuta cuando se cambia 
      una opción dentro del select.
      */
      // se crea un formulario "invisible" que va a servir para generar un POST y poder mandar los datos a Python
      const form = document.createElement('form');
      form.method = 'POST';
      form.path = '/asistencias/{{clave_grupo}}';
      // se crea un elemento input para el formulario
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      // con este nombre se obtienen los siguientes datos
      hiddenField.name = 'datos_asistencia';
      // los datos van a ser los nombres de los select que se generan dinámicamente con el expediente del
      // estudiante (fila) y la fecha (columna)
      hiddenField.value = select.name + " " + select.value;
      form.appendChild(hiddenField);
      document.body.appendChild(form);
      // Se lanza el POST
      form.submit();
      /*
      console.log(select.name)
      console.log(select.id)
      console.log(select.value)
      */
  }


  function filtrarTablaPorNombre() {
    // funcion hecha con ayuda de https://www.w3schools.com/howto/howto_js_filter_table.asp
    let input, filtro, table, tr, td, txtValue;
    // se obtienen los elementos de HTML
    input = document.getElementById("filtrarPorNombre");
    filtro = input.value.toUpperCase();
    tabla = document.getElementById("tabla_asistencias");
    // se obtienen todos los registros/filas de la tabla
    filaTabla = tabla.getElementsByTagName("tr");
    // se cicla sobre las filas de las tablas y se esconden aquellas que no encajen con la busqueda
    for (let i = 0; i < filaTabla.length; i++) {
      // tr[i].getElementsByTagName("td")[0] representa la primera celda que se genera en cada fila, que en este caso es el nombre del estudiante
      td = filaTabla[i].getElementsByTagName("td")[0];
      // si existe la celda
      if (td) {
        // el valor de cada celda se obtiene del contexto de su texto o del texto que lleve dentro
        valor_texto = td.textContent || td.innerText;
        // indexOf regresa la posicion de la primera ocurrencia de un string dentro de otro string,
        // si no se encuentra un string dentro de otro, entonces regresa -1
        // el valor del texto tambien se convierte a mayusculas para que no se fije si son mayusuculas o minusculas
        // si el valor de la celda (nombre completo del estudiante) tiene dentro el filtro de busqueda (al ser mayor a -1 quiere decir que regreso una posicion valida del string interior)
        if (valor_texto.toUpperCase().indexOf(filtro) > -1) {
          // se deja tal cual
          filaTabla[i].style.display = "";
        } else {
          // pero si no, se oculta la fila
          filaTabla[i].style.display = "none";
        }
      }
    }
  }

  function filtrarTablaPorFecha() {
    let input, filtro, table, tr, td, txtValue;
    // se obtienen los elementos de HTML
    input = document.getElementById("filtrarPorFecha");
    filtro = input.value.toUpperCase();
    tabla = document.getElementById("tabla_asistencias");
    // se obtienen todos las fechas/columnas de la tabla
    columnaTabla = tabla.getElementsByTagName("th");
    // se cicla sobre las fechas/columnas de las tablas y se esconden aquellas que no encajen con la busqueda
    // se empieza desde i = 1, porque i = 0 es la columna de Estudiante, donde estan los nombres completos de los estudiantes
    for (let i = 1; i < columnaTabla.length; i++) {
      // se obtiene la fecha de cada columna
      fecha = columnaTabla[i].textContent || columnaTabla[i].textContent;
      // si existe la fecha
      if (fecha) {
        // indexOf regresa la posicion de la primera ocurrencia de un string dentro de otro string,
        // si no se encuentra un string dentro de otro, entonces regresa -1
        // el valor del texto tambien se convierte a mayusculas para que no se fije si son mayusuculas o minusculas
        // si el valor de la celda (fecha) tiene dentro el filtro de busqueda (al ser mayor a -1 quiere decir que regreso una posicion valida del string interior)
        if (fecha.toUpperCase().indexOf(filtro) > -1) {
          // se obtiene toda la columna mediante el atributo class, que se genera dinamicamente en los <th></th> de fecha
          // esta clase tambien se pone dinamicamente en las celdas (<td></td>) que pertenezcan a esa columna de fecha
          columna = document.getElementsByClassName(fecha);
          // se recorren todas las celdas de esa columna
          for (let j = 0; j < columna.length; j++) {
            // se deja tal cual
            columna[j].style.display = "";
          }
        } else {
          // pero si no, se oculta la columna entera
          columna = document.getElementsByClassName(fecha);
          for (let j = 0; j < columna.length; j++) {
            columna[j].style.display = "none";
          }
        }
      }
    }
  }
</script>
{% endif %}
<a href="/grupo/{{clave_grupo}}"><button type="button" class="btn btn-dark">Regresar</button></a>
{% endblock %}