{% extends "base.html" %}
{% block title %}Cambiar contraseña{% endblock %}
{% block head %}
{{super()}}
<style>
    body, html{
        height: 100%;
    }
    body{
        background-color: #171717;
    }

    #contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja{
        padding: 20px;
        background-color: #fff;
        border-style: solid;
        border-width: 1px;
        border-color: #ccc;
        border-radius: 8px;
        border-top: solid 0px;
        box-shadow: 8px 8px 10px rgb(0, 255, 136);
    }
    .titulo{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        border-bottom: 1px solid rgb(197, 197, 197);
    }
    input[type=text] {
        padding: 12px 20px;
        margin: 20px auto;
        display: block;
        border: 2px solid rgb(0, 255, 136);
        border-radius: 10px;
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        outline: none;
        transition: 0.25s;
    }
    input[type=text]:focus {
        border: 3px solid black;
    }
    input[type=email] {
        padding: 12px 20px;
        margin: 20px auto;
        display: block;
        border: 2px solid rgb(0, 255, 136);
        border-radius: 10px;
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        outline: none;
        transition: 0.25s;
    }
    input[type=email]:focus {
        border: 3px solid black;
    }
    input[type=password] {
        padding: 12px 20px;
        margin: 20px auto;
        display: block;
        border: 2px solid rgb(0, 255, 136);
        border-radius: 10px;
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        outline: none;
        transition: 0.25s;
    }
    input[type=password]:focus {
        border: 3px solid black;
    }
    .boton{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .boton1{
        border: none;
        outline: none;
        height: 40px;
        width: 210px;
        background: rgb(0, 255, 136);
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.3s;
    }
    .boton1:hover {
        cursor: pointer;
        width: 250px;
        box-shadow: 0 0 5px rgb(0, 255, 136),
                    0 0 20px rgb(48, 224, 142);
    }
</style>
{% endblock %}
{% block body %}
<div id="contenedor">
    <form class="caja" action="" method="POST">
        <div class="titulo">
            <h1>Cambiar contraseña</h1>
            <p>{{mensaje}}</p>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="correo" id="correo" placeholder="Correo" maxlength="254" required>
            <label for="correo">Correo</label>
          </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="codigo_recuperacion" id="codigo_recuperacion" placeholder="Código" maxlength="54" required>
          <label for="codigo_recuperacion">Código de recuperación</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="contrasenia" id="contrasenia" placeholder="Constraseña" maxlength="108" required>
          <label for="contrasenia">Contraseña</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="confirmar_contrasenia" id="confirmar_contrasenia" placeholder="Confirmar constraseña" maxlength="108" required>
            <label for="confirmar_contrasenia">Confirmar contraseña</label>
          </div>
        <div class="boton">
            <button class="boton1" type="submit" name="cambiar_contrasenia" value="cambiar_contrasenia">Cambiar</button>
        </div>
    </form>
</div>
{% endblock %}