{% extends "base.html" %}
{% block title %}Escanear código QR{% endblock %}
{% block head %}
{{super()}}
<style>
    #video-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #qr-video {
        width: 50%;
    }

    #mensaje {
        font-size: 20;
        text-align: center;
    }

    .seleccion {
        text-align: center;
        margin: 10px;
    }

    .form-select {
        padding: 12px 20px;
        margin: 20px auto;
        display: block;
        border: 2px solid rgb(0, 255, 136);
        border-radius: 10px;
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        outline: none;
        transition: 0.25s;
    }

    h3 {
        text-align: center;
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block body %}
{% if usuario.tipo_usuario == "Estudiante" %}
<h3>Escanea el código QR</h3>
<p id="mensaje">{{mensaje}}</p>
<div id="video-container">
    <video id="qr-video"></video>
</div>
<div class="seleccion">
    <b>Seleccionar cámara:</b>
    <select id="cam-list" class="form-select">
        <option value="environment" selected>Cámara trasera</option>
        <option value="user">Cámara frontal</option>
    </select>
</div>
<hr>
<span id="cam-qr-result"></span>
<!--<script src="../qr-scanner.umd.min.js"></script>-->
<!--<script src="../qr-scanner.legacy.min.js"></script>-->
<script type="module">
    import QrScanner from "{{url_for('static', filename='js/qr-scanner.min.js')}}";

    const video = document.getElementById('qr-video');
    const videoContainer = document.getElementById('video-container');
    const camList = document.getElementById('cam-list');
    const camQrResult = document.getElementById('cam-qr-result');
    // cuando se escanea el codigo qr
    function setResult(label, result) {
        scanner.stop();
        const form = document.createElement('form');
        form.method = 'POST';
        form.path = '/escanear_qr/{{clave_grupo}}';
        // se crea un elemento input para el formulario
        const hiddenField = document.createElement('input');
        // se oculta el input
        hiddenField.type = 'hidden';
        // con este nombre se va a obtener la clave del codigo qr, para procesarla en Python
        hiddenField.name = 'clave';
        // en el valor del input se pone la clave del codigo qr escaneada
        hiddenField.value = result.data;
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        // Se lanza el POST
        form.submit();
    }

    // ####### Web Cam Scanning #######

    const scanner = new QrScanner(video, result => setResult(camQrResult, result), {
        onDecodeError: error => {
            //camQrResult.textContent = error;
            //camQrResult.style.color = 'inherit';
        },
        highlightScanRegion: true,
        highlightCodeOutline: true,
    });

    scanner.start().then(() => {
        // List cameras after the scanner started to avoid listCamera's stream and the scanner's stream being requested
        // at the same time which can result in listCamera's unconstrained stream also being offered to the scanner.
        // Note that we can also start the scanner after listCameras, we just have it this way around in the demo to
        // start the scanner earlier.
        QrScanner.listCameras(true).then(cameras => cameras.forEach(camera => {
            const option = document.createElement('option');
            option.value = camera.id;
            option.text = camera.label;
            camList.add(option);
        }));
    });

    // for debugging
    window.scanner = scanner;

    camList.addEventListener('change', event => {
        scanner.setCamera(event.target.value);
    });

</script>
{% else %}
<h2>Solo los estudiantes pueden acceder a esta página</h2>
{% endif %}
{% endblock %}