{% extends "base.html" %}
{% block title %}Reporte de asistencias{% endblock %}
{% block head %}
{{super()}}
<style>
    h2 {
        text-align: center;
    }

    #mensaje {
        text-align: center;
    }

    .centrar {
        display: flex;
        justify-content: center;
        text-align: center;
    }
</style>
{% endblock %}
{% block body %}
{% if usuario.tipo_usuario == "Docente" %}
<h2>Generar reporte de asistencias</h2>

<p id="mensaje"></p>

<div class="centrar">
<p>
    <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Fechas disponibles
    </button>
</p>
</div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
        {% if fechas|length == 0 %}
         <p>No hay fechas disponibles, porque no se encontraron registros de asistencias</p>
        {% else %}
            {% for fecha in fechas %}
                <p>{{fecha}}</p>
            {% endfor %}
        {% endif %}
    </div>
  </div>
  <div class="row g-3">
    <div class="col-sm-7">
        <label for="estudiante">Estudiante:</label>
        <input list="estudiantes" value="Todos" name="estudiante" id="estudiante" class="form-control">
        <datalist id="estudiantes">
            <option value="Todos" id="Todos" data-nombre="Todos">Todos</option>
            {% for estudiante in estudiantes %}
                <option value="{{estudiante['expediente']}}" data-nombre="{{estudiante['nombre_completo']}}" id="{{estudiante['expediente']}}">{{estudiante['nombre_completo']}}</option>
            {% endfor %}
        </datalist>
    </div>
    <div class="col-sm">
        <label for="fecha_desde">Desde:</label>
        <input type="date" name="fecha_desde" id="fecha_desde" class="form-control">
    </div>
    <div class="col-sm">
        <label for="fecha_hasta">Hasta:</label>
        <input type="date" name="fecha_hasta" id="fecha_hasta" class="form-control">
    </div>
    <div class="col-12">
        <button id="boton_generar_reporte" class="btn btn-success">Generar reporte</button>
    </div>
  </div>

<div>
    <canvas id="grafico_barras"></canvas>
</div>

<div>
    <canvas id="grafico_pastel"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    $('#boton_generar_reporte').click(function (){
        const fechaDesde = document.getElementById('fecha_desde').value;
        const fechaHasta = document.getElementById('fecha_hasta').value;
        const estudiante = document.getElementById('estudiante').value;
        console.log(estudiante === '');
        const parrafo_mensaje = document.getElementById('mensaje');
        if (estudiante === '') {
            parrafo_mensaje.innerText = `Por favor, introduce un Estudiante en el campo correspondiente`;
            borrarGraficoBarras();
            borrarGraficoPastel();
            return;
        }
        $.ajax({
            type: "GET",
            url: '/datos_reporte_asistencias/{{clave_grupo}}/' + estudiante,
            dataType: 'json',
            success: function(data) {
                // console.log(data);
                if (Object.keys(data).length == 0) {
                    parrafo_mensaje.innerText = `No se encontró información de asistencias entre las fechas "${fechaDesde}" y "${fechaHasta}" para el estudiante "${estudiante}"`;
                    borrarGraficoBarras();
                    borrarGraficoPastel();
                    return;
                }
                const datosFiltrados = filtrarDatosPorFechas(data, fechaDesde, fechaHasta);
                if (datosFiltrados == -1) {
                    parrafo_mensaje.innerText = 'La fecha "desde" debe de ser mayor a la de "hasta" y se deben de proporcionar ambas fechas';
                    borrarGraficoBarras();
                    borrarGraficoPastel();
                    return;
                } else {
                    if (Object.keys(datosFiltrados).length == 0) {
                        parrafo_mensaje.innerText = `No se encontró información de asistencias entre las fechas ${fechaDesde} y ${fechaHasta} para el estudiante "${estudiante}"`;
                        borrarGraficoBarras();
                        borrarGraficoPastel();
                        return;
                    } else {
                        parrafo_mensaje.innerText = "";
                        generarGraficoBarras(datosFiltrados);
                        generarGraficoPastel(datosFiltrados);
                    }
                }
            },
            error: function(e) {
                console.log(e.responseText);
                parrafo_mensaje.innerText = "Error";
            }
        });
    });

    function borrarGraficoBarras() {
        let chartStatus = Chart.getChart("grafico_barras");
        if (chartStatus != undefined) {
            chartStatus.destroy();
        }
    }

    function borrarGraficoPastel() {
        let chartStatus = Chart.getChart("grafico_pastel");
        if (chartStatus != undefined) {
            chartStatus.destroy();
        }
    }

    function filtrarDatosPorFechas(datos, fechaDesde, fechaHasta) {
        const datos_filtrados = {};
        // se obtienen strings del input de fechas, por lo que se necesitan transformar a objetos
        // de tipo Date, para poder comparar fechas
        const fechaDesdeConvertida = new Date(fechaDesde);
        const fechaHastaConvertida = new Date(fechaHasta);
        // si la fecha desde es mayor que la fecha hasta
        if (fechaDesdeConvertida > fechaHastaConvertida) {
            return -1;
        }
        // se obtiene un arreglo con las fechas, que son las llaves en datos
        const fechas = Object.keys(datos);
        // se define un arreglo que se va a llenar filtrando
        const fechasFiltradas = fechas.filter((fecha) => {
            fechaConvertida = new Date(fecha);
            // va a ir agregando las fechas que esten entre la fecha desde y la fecha hasta en el arreglo
            return fechaConvertida >= fechaDesdeConvertida && fechaConvertida <= fechaHastaConvertida;
        });
        // al objeto de datos filtrados se agregan solo las fechas que cumplieron el filtro.
        // como llave se agrega la fecha y como valor, los contadores respectivos a cada estado de asistencia
        for (let i = 0; i < fechasFiltradas.length; i++) {
            datos_filtrados[fechasFiltradas[i]] = datos[fechasFiltradas[i]];
        }
        // console.log(datos_filtrados);
        return datos_filtrados;
    }

    function generarGraficoBarras(datos) {
        const fechaDesde = document.getElementById('fecha_desde').value;
        const fechaHasta = document.getElementById('fecha_hasta').value;
        // se obtiene el nombre del estudiante en lugar de su expediente
        const estudiante = document.getElementById('estudiante').value;
        const nombre_completo = document.getElementById("estudiantes").options.namedItem(estudiante).getAttribute('data-nombre');
        const labels = Object.keys(datos);
        const asistencias = [];
        const retardos = [];
        const faltas = [];
        for (const fecha in datos) {
            asistencias.push(datos[fecha].asistencias);
            retardos.push(datos[fecha].retardos);
            faltas.push(datos[fecha].faltas);
        }
        const data = {
        labels: labels,
        datasets: [
        {
            label: 'Asistencias',
            data: asistencias,
            borderColor: 'rgb(0,4,0)',
            backgroundColor: 'rgba(75,195,80,0.9)'
        },
        {
            label: 'Retardos',
            data: retardos,
            borderColor: 'rgb(0,4,0)',
            backgroundColor: 'RGBA(255,232,0,0.9)'
        },
        {
            label: 'Faltas',
            data: faltas,
            borderColor: 'rgb(0,4,0)',
            backgroundColor: 'rgba(255,21,19,0.9)'
        }
        ]
        };
        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        ticks: {
                            stepSize: 1,
                            beginAtZero: true,
                        },
                    },
                },
                plugins: {
                    title: {
                        display: true,
                        text: `Estados de asistencias desde ${fechaDesde} hasta ${fechaHasta} para "${nombre_completo}"`
                    }
                }
            }
        };
        borrarGraficoBarras();
        const context = document.getElementById("grafico_barras").getContext("2d");
        const graficoBarras = new Chart(context, config);
    }

    function generarGraficoPastel(datos) {
        const fechaDesde = document.getElementById('fecha_desde').value;
        const fechaHasta = document.getElementById('fecha_hasta').value;
        // se obtiene el nombre del estudiante en lugar de su expediente
        const estudiante = document.getElementById('estudiante').value;
        const nombre_completo = document.getElementById("estudiantes").options.namedItem(estudiante).getAttribute('data-nombre');
        const labels = ['Asistencias', 'Retardos', 'Faltas'];
        const asistencias = [];
        const retardos = [];
        const faltas = [];
        const contador_estados = {asistencias: 0, retardos: 0, faltas: 0};
        for (const fecha in datos) {
            contador_estados.asistencias = contador_estados.asistencias + datos[fecha].asistencias;
            contador_estados.retardos = contador_estados.retardos + datos[fecha].retardos;
            contador_estados.faltas = contador_estados.faltas + datos[fecha].faltas;
        }
        const data = {
        labels: labels,
        datasets: [
        {
            label: 'Dataset',
            data: [contador_estados.asistencias, contador_estados.retardos, contador_estados.faltas],
            backgroundColor: [
                'rgb(75,195,80)',
                'rgb(255,232,0)',
                'rgb(255,21,19)'
        ]
        }
        ]
        };
        const config = {
            type: 'pie',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: `Estados de asistencias desde ${fechaDesde} hasta ${fechaHasta} para "${nombre_completo}"`
                    }
                }
            }
        };
        borrarGraficoPastel();
        const context2 = document.getElementById("grafico_pastel").getContext("2d");
        const graficoPastel = new Chart(context2, config);
    }
</script>
{% else %}
<h2>No puedes acceder a esta página, se requiere ser Docente</h2>
<a href="/grupo/{{clave_grupo}}"><button type="button" class="btn btn-dark">Regresar</button></a>
{% endif %}
{% endblock %}