{% extends "base.html" %}
{% block title %}Sobre nosotros{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
<style>
h1{
    text-align:center;
    color:white;
    font-family:arial;
}
</style>
<body
style="background-color:black;">
</body>
<h1>¿Quiénes somos?</h1>
<p class="h4" style="color:white" style = "font-family:arial ;">Nosotros somos un grupo de alumnos que crearon esta página web con el objetivo
de brindar una herramienta que pueda facilitar y/o solucionar el trabajo a alguien más.</p>
<p class="h4" style="color:white" style = "font-family:arial ;">Somos alumnos de quinto semestre de la Universidad de Sonora de la carrera Ingeniería en
Sistemas de Información y este es un proyecto de la materia Ingeniería en Software.</p>
<div align="center"><img src="/static/img/Escudo_Unison.png" width="300" height="300"></div>
{% endblock %}