div {
    margin-bottom: 16px;
}

h1 {
    color: red;
}

h2 {
    color: blue;
}

#qr-video {
    width: 400px;
}

#video-container {
    line-height: 0;
    stroke: rgba(255, 255, 255, .5) !important;
    stroke-width: 15 !important;
}

hr {
    margin-top: 32px;
}
